* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-weight: 700;
}

.flex {
  display: flex;
}

.f-j-c-c {
  justify-content: center;
}

.none {
  display: none;
}

.f-a-i-c {
  align-items: center;
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: hsl(257, 7%, 63%);
}
.transparent-button:hover {
  opacity: 0.7;
}

.blue-button {
  color: white;
  background-color: hsl(180, 66%, 49%);
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
}
.blue-button:hover {
  opacity: 0.7;
}

.mobile-menu {
  background-color: hsl(257, 27%, 26%);
  border-radius: 20px;
  margin: 8% 10%;
  position: fixed;
  width: 80%;
  z-index: 2;
}
.mobile-menu .mobile-nav {
  flex-direction: column;
  padding: 4% 0%;
  width: 80%;
  margin: auto;
}
.mobile-menu .mobile-nav .nav {
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsl(257, 7%, 63%);
}
.mobile-menu .mobile-nav .nav p {
  margin: 10px;
  font-size: 1.2rem;
}
.mobile-menu .mobile-nav .login {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}
.mobile-menu .mobile-nav .login button {
  font-size: 1.2rem;
}

.header .header-nav {
  justify-content: space-between;
  margin: 2% 8%;
  align-items: center;
}
.header .header-nav .links ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.header .header-nav .links ul li {
  display: flex;
  color: hsl(257, 7%, 63%);
  font-size: 0.9rem;
}
.header .header-nav .links ul li:hover {
  color: hsl(260, 8%, 14%);
  cursor: pointer;
}
.header .header-nav .links ul li img {
  margin: auto;
}
.header .header-nav .user {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero .hero-content {
  margin: 5% 0 10% 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-content .hero-left {
  flex-direction: column;
  width: 50%;
  margin-left: 8%;
}
.hero .hero-content .hero-left h1 {
  font-size: 4rem;
  color: hsl(260, 8%, 14%);
}
.hero .hero-content .hero-left p {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
}
.hero .hero-content .hero-left button {
  margin: 15px 0;
  padding: 10px 25px;
}
.hero .hero-content .hero-right {
  height: auto;
  width: 50%;
}
.hero .hero-content .hero-right img {
  height: auto;
  width: 150%;
}

.main-content {
  background-color: hsl(0, 0%, 91%);
  flex-direction: column;
}
.main-content .url-short {
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-shorten-desktop.svg);
  width: 85%;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -60px;
}
.main-content .url-short .url-form {
  align-items: center;
  justify-content: center;
  padding: 3% 2%;
  width: 90%;
}
.main-content .url-short .url-form form {
  justify-content: center;
  gap: 3%;
}
.main-content .url-short .url-form form input {
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  width: 85%;
  height: 40px;
  font-weight: 500;
}
.main-content .url-short .url-form form button {
  padding: 10px;
  border-radius: 5px;
}
.main-content .analytics .analytics-header {
  margin: 5% 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-content .analytics .analytics-header h1 {
  color: hsl(260, 8%, 14%);
}
.main-content .analytics .analytics-header p {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  width: 30%;
  text-align: center;
  margin: 1% 0%;
}

.features .features-cards {
  flex-direction: row;
  margin: 2% 7% 10% 7%;
  gap: 5%;
}
.features .features-cards .features-card {
  padding: 0% 2% 2% 2%;
  background-color: white;
  border-radius: 5px;
  position: relative;
  width: 70%;
}
.features .features-cards .features-card p {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  padding-top: 2%;
}
.features .features-cards .features-card img {
  background-color: hsl(257, 27%, 26%);
  border-radius: 50px;
  padding: 5%;
  position: relative;
  top: -15%;
}
.features .features-cards .features-card:nth-child(2) {
  top: 40px;
}
.features .features-cards .features-card:nth-child(3) {
  top: 80px;
}

.boost {
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-boost-desktop.svg);
  background-color: hsl(257, 27%, 26%);
  background-size: cover;
}
.boost .boost-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7% 0;
}
.boost .boost-content h1 {
  font-size: 3rem;
  color: white;
}
.boost .boost-content button {
  margin-top: 2%;
  font-size: 1.2rem;
}

.footer {
  background-color: hsl(260, 8%, 14%);
}
.footer .footer-content {
  flex-direction: row;
  padding: 5% 7%;
  align-items: start;
  justify-content: space-between;
}
.footer .footer-content .socials {
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}
.footer .footer-content .footer-about {
  flex-direction: row;
  gap: 100px;
}
.footer .footer-content .footer-about .features, .footer .footer-content .footer-about .resources, .footer .footer-content .footer-about .company {
  flex-direction: column;
  gap: 10px;
}
.footer .footer-content .footer-about .features h3, .footer .footer-content .footer-about .resources h3, .footer .footer-content .footer-about .company h3 {
  color: white;
}
.footer .footer-content .footer-about .features a, .footer .footer-content .footer-about .resources a, .footer .footer-content .footer-about .company a {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
}

@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }
  .hero .hero-content {
    margin: 5% 0 10% 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero .hero-content .hero-left {
    flex-direction: column;
    width: 50%;
    margin-left: 8%;
  }
  .hero .hero-content .hero-left h1 {
    font-size: 3rem;
    color: hsl(260, 8%, 14%);
  }
}
@media (max-width: 900px) {
  .features .features-cards {
    flex-direction: row;
    margin: 2% 7% 15% 7%;
    gap: 3%;
  }
  .footer .footer-content {
    padding: 2% 4%;
  }
  .footer .footer-content .footer-about {
    flex-direction: row;
    gap: 50px;
  }
}
@media (max-width: 680px) {
  .user button {
    display: none;
  }
  .user .hamburger {
    display: block;
    fill: hsl(257, 7%, 63%);
  }
  .header .header-nav .links ul li p {
    display: none;
  }
  .header .header-nav .user {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .hero .hero-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-content .hero-left {
    flex-direction: column;
    align-items: center;
    margin: 7% 0;
    width: 80%;
  }
  .hero .hero-content .hero-left h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .hero .hero-content .hero-left p {
    margin: 2% 0;
    text-align: center;
  }
  .hero .hero-content .hero-left button {
    padding: 10px 25px;
  }
  .hero .hero-content .hero-right {
    width: 80%;
  }
  .hero .hero-content .hero-right img {
    width: 100%;
  }
  .main-content .url-short .url-form form {
    flex-direction: column;
  }
  .main-content .url-short .url-form form input {
    width: 100%;
    margin-bottom: 5%;
  }
  .main-content .analytics .analytics-header p {
    width: 80%;
  }
  .main-content .features .features-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-content .features .features-cards .features-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 5% 0;
  }
  .main-content .features .features-cards .features-card img {
    top: -40px;
  }
  .main-content .features .features-cards .features-card p {
    text-align: center;
  }
  .boost .boost-content h1 {
    font-size: 2rem;
  }
  .boost .boost-content button {
    font-size: 1rem;
  }
  .footer .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
  }
  .footer .footer-content .footer-about {
    flex-direction: column;
    gap: 30px;
  }
  .footer .footer-content .footer-about .features {
    margin-top: 30px;
  }
  .footer .footer-content .footer-about .features, .footer .footer-content .footer-about .resources, .footer .footer-content .footer-about .company {
    align-items: center;
  }
  .footer .footer-content .socials {
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }
}
@media (max-width: 445px) {
  .hero .hero-content .hero-left {
    width: 80%;
  }
  .hero .hero-content .hero-left h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .features .features-cards {
    margin-bottom: 25%;
  }
  .boost .boost-content {
    margin: 15% 0;
  }
  .boost .boost-content h1 {
    font-size: 1.5rem;
  }
  .boost .boost-content button {
    font-size: 0.9rem;
    margin-top: 7%;
  }
}/*# sourceMappingURL=style.css.map */